/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:16px;
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:#1bafdb;
    font-family: Arial;
}
*/
body{
    width: view-width(vw);
    height: view-height(vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas1 {
    width: view-width(vw);
    height: view-height(vh);
    /*border: 5px solid rgb(3, 3, 3); */

    background: linear-gradient(to bottom, rgb(163, 163, 163), rgb(66, 66, 66));
}

button {
    border:none;
    appearance:none;
    outline:none;
    display:inline-block;
    font-size:1.5em;
    cursor:pointer;
    text-decoration:none;
    padding:12px 48px 12px 48px;
    border-radius:4px;
    color:#ffffff;
    background-color:#1bafdb;
    border: 2px solid #ffffff;
}
button {   transition-duration: 0.4s; }
button:hover {
    font-size:1.6em;
    background-color:#05c46b;
}
.screen {
    padding: 20px;     
    position: fixed;     
    top:50%;     
    left:50%;     
    margin-top: -100px;     
    margin-left: -100px;     
    height:200px;     
    width:250px;     
    text-align: center;
}